* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1396px;
}


/* navbar start */

.header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    background-image: url(../assets/images/bg\ nav.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 140px;
}

.header {}

.navbar {}

.container {}

.logo_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {}


/* navbar end */


/* mainOne start */

.big_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 95px;
}

.back {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    color: #A1A1A1 !important;
    padding: 10px 60px;
    border: 1px solid #A1A1A1;
    text-decoration: none;
}

.mainOne {
    padding-top: 68px;
    padding-bottom: 200px;
}

.container {}

.mainOne_content {
    background: #FFFFFF;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.05);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 88px;
}

.mainOne_title {
    font-family: 'Lighthaus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 105.9%;
    /* identical to box height, or 37px */
    text-align: center;
    color: #031412;
    margin-bottom: 24px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 100%;
    border: 1px solid #A1A1A1;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    color: #A1A1A1;
    padding: 10px;
    margin-bottom: 30px;
    outline: none;
}

.link {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    text-align: center;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
}

.btn {}

.button {
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    width: 100%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF !important;
}

.mainOne_end_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
    width: fit-content;
    padding: 15px 41px;
}

.mainOne_end_content_text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    text-align: center;
    color: #FFFFFF;
    margin-right: 104px;
}

.mainOne_end_content_link {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    /* or 17px */
    text-align: center;
    color: #FFFFFF !important;
    text-decoration: none;
}


/* mainOne end */


/* footer start */

.footer {
    background-image: url(../assets/images/footer_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 55px;
}

.logo_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    margin-bottom: 24px;
}

.footer_text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.4%;
    /* or 19px */
    text-align: center;
    color: #ADADAD;
    max-width: 214px;
}


/* footer end */