@media screen and (max-width:1200px) {
    .render {
        padding-bottom: 31px;
        border-bottom: 1px solid #E6E8E7;
        margin-bottom: 61px;
    }
    .mainOne_title {
        margin-top: 30px;
    }
}

@media screen and (max-width:800px) {
    .reg_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-position: right bottom;
    }
    .reg_box_text_box {
        margin: 0;
    }
    .circle_box {
        margin: 0;
    }
    .reg_box_button_one {
        margin: 0;
    }
    .reg_box_text_one {
        text-align: center;
        margin-bottom: 6px;
    }
    .reg_box_text_two {
        text-align: center;
        margin-bottom: 20px;
    }
    .reg_box_button_one {
        padding: 15px 100px;
        margin-bottom: 12px;
    }
    .reg_box_button_two {
        padding: 15px 77px;
    }
    .mainOne_back {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle_box {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:600px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .catalog_buy {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .promo {
        padding: 5px;
    }
    .mainOne_back {
        padding: 17px 30px;
    }
}